@font-face {
    font-family: 'Dancing Script';
}

body{
  font-family: Dancing Script;
}

#encabezado{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #5b7989;
    display: flex;
  	flex-flow: row wrap;
}

#titulopagina{
  font-size: 1.2em;
  padding-left: 2%;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
#menu a{
  font-size: 1.2em;
  color:white;
  margin: 20px;
}

.link{
  text-decoration: none;
}

#menu{
  font-size: 1.5em;
  text-align: right;
  padding-top: 2.5%;
  text-decoration: none;
}

li{
  list-style-type: none;
}

ul{
  text-align: left;
}

#contenido{
  width: 100%;
  margin: 0 auto;
  display: flex;
	flex-flow: row wrap;
}

#paisajes{
  width: 100%;
  background-color: #d5c75f;
  margin: 0 auto;
  display: flex;
	flex-flow: row wrap;
}

footer a{
  text-decoration: none;
  color: black;
}
#piedepagina{
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
	flex-flow: row wrap;
}

figcaption{
  font-size: 1.2em;
  text-decoration: underline;
}

@media screen and (max-width: 900px){
  #titulopagina{
    width: 100%;
    text-align: center;
  }
  #menu {
    width: 100%;
    font-size: 1.2em;
    color:white;
    margin: 5px;
    text-align: center;
  }
  #imagencentral{
    background-color: #82c3a6;
    text-align: center;
  }

  #imagenizq{
    background-color: #d5c75f;
    border: 1px;
    text-align: center;
    font-size: 1.5em;
  }
  #imagender{
    background-color: #d5c75f;
    border: 1px;
    text-align: center;
    font-size: 1.5em;
  }
  #imagencentral img{
    width: 100%;
    text-align: center;
  }
  #imagenizq img{
    width: 100%;
    text-align: center;
  }

  #imagender img{
    width: 100%;
    text-align: center;
  }
  #paisaje1{
    width: 100%;
  }
  #paisaje2{
    width: 100%;
  }
  #paisaje3{
    width: 100%;
  }
  #paisaje4{
    width: 100%;
  }
  #paisaje5{
    width: 100%;
  }
  #paisaje6{
    width: 100%;
  }
  #paisaje1 img{
    width: 100%;
  }
  #paisaje2 img{
    width: 100%;
  }
  #paisaje3 img{
    width: 100%;
  }
  #paisaje4 img{
    width: 100%;
  }
  #paisaje5 img{
    width: 100%;
  }
  #paisaje6 img{
    width: 100%;
  }
  #retrato1{
    width: 100%;
  }
  #retrato2{
    width: 100%;
  }
  #retrato3{
    width: 100%;
  }
  #retrato4{
    width: 100%;
  }
  #retrato5{
    width: 100%;
  }
  #retrato6{
    width: 100%;
  }
  #retrato1 img{
    width: 100%;
  }
  #retrato2 img{
    width: 100%;
  }
  #retrato3 img{
    width: 100%;
  }
  #retrato4 img{
    width: 100%;
  }
  #retrato5 img{
    width: 100%;
  }
  #retrato6 img{
    width: 100%;
  }
  #contacto{
    width: 100%;
  }
  #terminos{
    width: 100%;
  }
  #redessociales{
    width: 100%;
  }
  #derechos{
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  #titulopagina{
    width: 48%;
  }
  #menu{
    width: 45%;
  }
  #imagencentral{
    background-color: #82c3a6;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
  }
  #imagenizq{
    background-color: #d5c75f;
    text-align: center;
    width: 46%;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.5em;
  }
  #imagender{
    background-color: #d5c75f;
    text-align: center;
    width: 46%;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.5em;
  }
  #imagencentral img{
    width: 100%;
  }
  #imagenizq img{
    width: 100%;
  }
  #imagender img{
    width: 100%;
  }
  #paisaje1{
    width: 33.3%;
  }
  #paisaje2{
    width: 33.3%;
  }
  #paisaje3{
    width: 33.3%;
  }
  #paisaje4{
    width: 33.3%;
  }
  #paisaje5{
    width: 33.3%;
  }
  #paisaje6{
    width: 33.3%;
  }
  #paisaje1 img{
    width: 100%;
  }
  #paisaje2 img{
    width: 100%;
  }
  #paisaje3 img{
    width: 100%;
  }
  #paisaje4 img{
    width: 100%;
  }
  #paisaje5 img{
    width: 100%;
  }
  #paisaje6 img{
    width: 100%;
  }
  #retrato1{
    width: 33.3%;
  }
  #retrato2{
    width: 33.3%;
  }
  #retrato3{
    width: 33.3%;
  }
  #retrato4{
    width: 33.3%;
  }
  #retrato5{
    width: 33.3%;
  }
  #retrato6{
    width: 33.3%;
  }
  #retrato1 img{
    width: 100%;
  }
  #retrato2 img{
    width: 100%;
  }
  #retrato3 img{
    width: 100%;
  }
  #retrato4 img{
    width: 100%;
  }
  #retrato5 img{
    width: 100%;
  }
  #retrato6 img{
    width: 100%;
  }
  #contacto{
    width: 25%;
    font-size: 1.2em;
  }
  #terminos{
    width: 25%;
    font-size: 1.2em;
  }
  #redessociales{
    width:25%;
    font-size: 1.2em;
  }
  #derechos{
    width: 25%;
    font-size: 1.2em;
  }
}

#imagencentral img:hover{
  transition: border;
  transition: 1px black;
}
